# Build and Release Folders
bin/
bin-debug/
bin-release/

# Other files and folders
.settings/
# Project files, i.e. `.project`, `.actionScriptProperties` and `.flexProperties`
# should NOT be excluded as they contain compiler settings and other important
# information for Eclipse / Flash Builder.
/TestMe/
/WebIDLParser/bin
/WebIDLParser/obj
/sync_upstream.bat

/add_upstream.bat
/NodeJSParser/NodeJSParser/bin
/JQueryParser/ConsoleApplication1/bin

/NodeJSParser/NodeJSParser/obj
/JQueryParser/ConsoleApplication1/obj
